
:root {
  --primary-color: #fff;
  --secondary-color: #1a1a1a;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.App > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 80vw;
  min-height: 100vh;
}




@media screen and (min-width: 1600px) {
  /* .App > div {
    width: 60vw;
  } */
}

@media screen and (max-width: 800px) {
  .App > div {
    width: 90vw;
  }
}


#tsparticles {
  min-height: 100%;
}